<h1>Index#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<h2><%= @restaurant.name %></h2>
<p>Restaurant address: <%= @restaurant.address %></p>
<p>Restaurant phone number: <%= @restaurant.phone_number %></p>
<p>Restaurant category: <%= @restaurant.category %></p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.select :rating, Review::RATING %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>


<ul>
<% @reviews.each do |review| %>
<li><%= review.rating %> - <%=review.content %></li>
<% end %>
</ul>
<p><%= link_to "Add a review ", "/restaurants/#{@restaurant.id}/reviews/new" %></p>
<p><%= link_to "back to list", "/restaurants" %></p>
